pandas==2.2.3
pandas_ta==0.3.14b0
peewee==3.18.1  # ORM
requests==2.32.3
fastapi==0.115.12
ccxt==4.4.82 
certifi==2024.2.2
pytz==2024.1    # 时区
pyyaml==6.0.2
tqdm==4.67.1  # 进度条
backtesting==0.6.4  # 回测
streamlit==1.46.1
pyjwt==2.10.1
click==8.2.1  # 命令行
pytest==8.4.1
websocket==0.2.1
dash==3.1.1
nbformat==5.10.4
#dash-bootstrap-components==2.0.3
feffery_antd_components==0.4.0
feffery-antd-charts==0.2.0
feffery_utils_components
dash-renderer==1.9.1
# autopep8==2.3.2
