@font-face {
  font-family: "iconfont"; /* Project id 4989907 */
  src: url('iconfont.woff2?t=1754104707384') format('woff2'),
       url('iconfont.woff?t=1754104707384') format('woff'),
       url('iconfont.ttf?t=1754104707384') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mti-huifang:before {
  content: "\e8f7";
}

.icon-mti-zhongzhi:before {
  content: "\e90f";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-shuaxin:before {
  content: "\e61d";
}

.icon-a-mti-bofangshi:before {
  content: "\e8e8";
}

.icon-a-mti-fenping-1fenpingshi:before {
  content: "\e8ee";
}

.icon-a-mti-tingzhi2shi:before {
  content: "\e904";
}

.icon-mti-zanting2:before {
  content: "\e90d";
}

.icon-a-mti-zanting2shi:before {
  content: "\e90e";
}

.icon-bofangzanting:before {
  content: "\e6aa";
}

